Files: 
	- open
	- save (as)
	- delete
	- rename
	- automatically save changes (toggleable)

Views: 
	- Lightmode
	- Darkmode
	- (user has to add them manually in the json list)

Tabs:
	- write without manually creating a file
	- close tab (only close tab)
	- close tab (and delete file)
	- right click with 
		- rename
		- close tab
		- delete file 
		- open in explorer
	- name: 
		- if file: filename
		- if no file: first few letters

Search: 
	- Search one tab
	- Search all tabs
	- case insensitive
	- expand icon for replace overview 
	- Search next 
	- Search previous
	- close view

Replace: 
	- Replace in one tab
	- Replace in all tabs
	- case insensitive
	- minimize icon for replace overview 
	- Search next 
	- Search previous
	- close view

All tabs overview:
	- filter by 
		- datatype
		- order	
			- user order
			- alphabetically
			- sort by modification date
			- datatype

	- Search tab names
	- Search contents
	- Search through everything
	- close view
	- all tabs listed with icons to 
		- rename 
		- delete

Edit text: 
	- enter text
	- undo changes (ctrl + z) 
	- redo changes (ctrl + y)