Files: 
	- open
	- save (as)
	- delete
	- rename
	- automatically save changes (toggleable)
Views: 
	- Lightmode
	- Darkmode
Tabs:
	- write without manually creating a file
	- close tab (only close tab)
	- close tab (and delete file)
	- right click with 
		- rename
		- close tab
		- delete file 
		- open in explorer
		