Files: 
	- open
	- save (as)
	- delete
	- rename
	- automatically save changes (toggleable)

Views: 
	- Lightmode
	- Darkmode

Tabs:
	- write without manually creating a file
	- close tab (only close tab)
	- close tab (and delete file)
	- right click with 
		- rename
		- close tab
		- delete file 
		- open in explorer

Search: 
	- Search one tab
	- Search all tabs
	- case insensitive

Replace: 
	- Replace in one tab
	- Replace in all tabs
	- case insensitive

All tabs overview:
	- filter by 
		- 